// color
$HighlightColor: #ffd700;
$BackgroundColor: #181818;

.nav-bar {
    background: $BackgroundColor;
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
  
    .logo {
      display: block;
      padding: 8px 0;
  
      img {
        display: block;
        margin: 8px auto;
        width: 24px;
        height: auto;
  
        &.sub-logo {
          width: 50px;
        }
      }
    }
  
    nav {
      display: block;
      text-align: center;
      position: absolute;
      height: 210px;
      top: 50%;
      margin-top: -120px;
      width: 100%;
  
      a {
        font-size: 22px;
        color: #4d4d4e;
        display: block;
        line-height: 51px;
        height: 51px;
        position: relative;
        text-decoration: none;
  
        i {
          transition: all 0.3s ease-out;
        }
  
        &:hover {
          color: $HighlightColor;
  
          svg {
            opacity: 0;
          }
  
          &:after {
            opacity: 1;
          }
        }
  
        &:after {
          content: '';
          font-size: 12px;
          letter-spacing: 2px;
          position: absolute;
          bottom: 0;
          display: block;
          width: 100%;
          text-align: center;
          opacity: 0;
          -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        }
  
        &:first-child {
          &:after {
            content: 'HOME';
          }
        }
      }
  
      a.about-link {
        &:after {
          content: 'ABOUT';
        }
      }
  
      a.contact-link {
        &:after {
          content: 'CONTACT';
        }
      }
  
      a.project-link {
        &:after {
          content: 'PROJECTS';
        }
      }
  
      a.active {
        svg {
          color: $HighlightColor;
        }
      }
    }
  
    ul {
      position: absolute;
      bottom: 20px;
      width: 100%;
      display: block;
      padding: 0;
      list-style: none;
      text-align: center;
      margin: 0;
  
      li {
        a {
          padding: 7px 0;
          display: block;
          font-size: 15px;
          line-height: 16px;
          color: #4d4d4e;
        }
  
        &:hover {
          .anchor-icon {
            color: $HighlightColor;
          }
        }
      }
    }
  }
  
  .hamburger-icon, .close-icon {
    display: none;
  }

  .hamburger-button {
    margin-top: 10px; // Adjust margin for spacing at the top
    background: transparent; // Make background transparent
    border: none; // Remove border
    cursor: pointer; // Change cursor to pointer
    padding: 10px; // Add some padding

    &:hover {
        color: $HighlightColor; // Change color on hover
    }
}

  
  
@media (max-width: 1000px) { 
  .nav-bar {
    width: 100%; // Make the sidebar full width at the bottom
    height: 60px; // Set a smaller height for the bottom sidebar
    position: fixed; // Fixed position to keep it at the bottom
    bottom: -450px; // Start with sidebar off the screen
    top: auto; // Remove top positioning
    transition: bottom 0.3s ease; // Add transition for smooth movement
  }

  nav {
    height: 60px; // Allow nav to adjust to the new smaller height
    display: flex; // Use flex to layout items in a row
    justify-content: space-around; // Space items evenly
  }

  a {
    font-size: 16px; // Smaller font size for bottom sidebar
    line-height: 40px; // Adjust line-height for vertical centering
  }

  .nav-bar.open {
    bottom: 0; // Move back into view when open
  }
}

