.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
  }

  .flat-button {
    color: #ffd700;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
  }
}

.container {
  display: flex;
}

.left, .right {
  flex: 1; /* This will make both divs the same width */
  padding: 20px;
  margin: 10px;
}

.pdfDisplay {
  width: 100%;                 /* Take full width of the container */
  max-width: 800px;           /* Set a maximum width for larger screens */
  height: 80vh;                /* 80% of the viewport height */
  margin: 20px auto;          /* Center horizontally with some margin */
  padding: 10px;              /* Padding around the content */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow around the box */
  border: 2px solid transparent;   /* Golden border on hover */
  border-radius: 10px;        /* Rounded corners for a clean look */
  overflow: hidden;            /* Ensure the iframe doesn’t overflow */
  transition: border 0.3s ease; /* Smooth transition for border */
}

#pdfViewer {
  width: 100%;                 /* Full width of the parent */
  height: 100%;                /* Full height of the parent */
  border: none;                /* Remove iframe border */
  border-radius: 8px;         /* Match the container's rounded corners */
}

/* Add golden border only on hover */
.pdfDisplay:hover {
  border: 2px solid #ffd700;   /* Golden border on hover */
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin: 5px 0;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: border 0.3 ease;
}

.contact-form input:hover,
.contact-form textarea:hover {
  border: 2px solid #ffd700;
}

.flat-button:hover {
  background-color: rgba(255, 215, 0, 0.33);  /* Slightly highlight the button */
}